.html1999.html {
  font-family: Alegreya, Comic Sans MS, Verdana;
}
.screen.page-body { padding: 0 13px; background: #D0E0E1; margin: 0;
}
.aside { overflow: hidden; margin: 0 13px 0 0; float: left; }
.content { background: #fff;
padding: 26px 26px 0 26px; overflow: hidden; float: right; max-width: 360px;
}
.highlight1 {
  background-color: yellow;}
.picture.image { border: 3px solid silver;
display: block;
}
.caption {
background-color: #fff;
border: silver 3px solid;
border-top: 0;
margin: 0;
width: 416px;
padding: 4px 0 4px 4px;
}
.small-text.caption {
font-size: 13px;
margin-bottom: 24px;
}
.view-icons.content {
padding: 0;
}
.monocode { font-family: monospace; font-size: 11px;
}
.off-page-markedup-lols { 
}
.bootstrap-icons { margin: 0; padding: 0;
}
.bi-github.list-item { 
}
.icon { 
}
.h-text { 
}
.bi-twitter-x.list-item { 
}
.icon { 
}
.h-text { 
}
.bi-linkedin.list-item { 
}
.icon { 
}
.h-text { 
}
.bi-facebook.list-item { 
}
.icon { 
}
.h-text { 
}
.banner { 
}
.bi.bi-envelope-at-fill { 
}
@charset "utf-8";@font-face {
   font-family: "bootstrap-icons";
   src: url("../fonts/bootstrap-1.11.0-icons.woff") format("woff2"),
        url("../fonts/bootstrap-1.11.0-icons.woff") format("woff");
}
.javascript-required,
#NavigationAtTop,
#NavigationAtBottom,
.off-page--HTML-only { position: absolute; left: -9999px; }
.has-javascript .view-list#SMChannelsCompleteContent,
.has-javascript .view-icons#SMChannelsCompleteContent {
   padding-top: 0;
}
.view-list #linkedContent {
   margin-left: -5px;
   margin-top: 0;
   padding-left: 0;
}
#SMChannelsCompleteContent.view-list #select-list-view .buttons-alt-looks,
#SMChannelsCompleteContent.view-icons #select-icons-view .buttons-alt-looks {
   background: #7F2F2B;
   border-radius: 5px;
   border: #333333 1px solid;
   color: #fff;
   cursor: default;
   position: relative;
   top: 4px;
}
#linkedContent .icon:before {
   font-size: 21px;
   margin-bottom: 18px;
}
#linkedContent .list-item.bi-instagram .icon:before {
   content: "\f437";
}
#linkedContent .list-item.bi-facebook .icon:before {
   content: "\f344";
}
#linkedContent .list-item.bi-github .icon:before {
   content: "\f3ed";
}
#linkedContent .list-item.bi-linkedin .icon:before { 
      content: "\f472"; position: relative; line-height: 1.5;
}
#linkedContent .list-item.bi-twitter-x .icon:before {
   content: "\f8db";
}
#linkedContent .list-item .h-text {
   display: inline-block;
   overflow: hidden;
   text-indent: -9999px;
}
.list-item .icon:before,
.list-item:before {
   display: inline-block;
   font-family: bootstrap-icons;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   line-height: 1.5;
   text-transform: none;
}
.list-item {
   display: inline-block;
}
.sm-slot-hidden {
   visibility: hidden;
}
.pic-images-instagram {
   height: 160px; width: 160px;
}
