div,li,ul,ol { margin: 0; line-height: 0; vertical-align: baseline;}
body p {line-height: 2.3;}
aside p { margin: 2.1em 0 ; }
/* aside { margin: 0; padding: 0; } */
@charset "utf-8";
@font-face {
  font-family: "bootstrap-icons";
  src: url("../fonts/bootstrap-1.11.0-icons.woff") format("woff2"),
    	 url("../fonts/bootstrap-1.11.0-icons.woff") format("woff"); }
article.greets-back { max-width: 460px; }
.view-list #linkedContent,
.view-icons #linkedContent { max-width: 502px; }
.has-javascript .view-list#socialMediaChannelsCompleteContent,
.has-javascript .view-icons#socialMediaChannelsCompleteContent { 
																	min-height: 151px; max-width: 80%; }
.view-list #linkedContent { padding-left: 0; margin-top: 0; margin-left: -5px; }
.view-icons #linkedContent { padding: 40px 0 0; margin-top: 0;}
.view-list ol#linkedContent { list-style: none; }
#linkedContent a span:before {  font-size: 21px; margin-bottom: 18px; }
.view-icons #linkedContent a span:before {  font-size: 64px; margin: 0 7pt; }
.has-javascript .view-list #linkedContent li.logomark-github {padding:0 0 18px;}
.has-javascript .view-icons #linkedContent li.logomark-github img { width: 48px; height: 48px; }
.has-javascript .view-list #linkedContent li span:before,
.has-javascript .view-list #linkedContent li img { position:relative; top:5px; margin: 0 10px 10px; }
.view-list #linkedContent a span:before { margin-right: 14px; }
.view-list #linkedContent li.bi {  padding: 8px 0 4px 4px; clear: both; }
.view-icons #linkedContent li.bi { padding: 0px 0px 10px; margin: 0 6px 0 0; }
#linkedContent li.bi-instagram a span:before   { content: "\f437"; }
#linkedContent li.bi-facebook a span:before    { content: "\f344"; }
#linkedContent li.bi-github a span:before    { content: "\f3ed"; color: #333; }
#linkedContent li.bi.bi-linkedin a span:before { content: "\f472"; 
																 position: relative; }
.view-list #linkedContent li.bi.bi-linkedin a span:before { line-height: 1; }
#linkedContent li.bi-twitter-x a span:before {content: "\f8db"; 
														  	line-height: 1.2; }
.has-javascript .view-icons #linkedContent li.bi a span strong { 
														  	display: inline-block;
														  	overflow: hidden;
														  	text-indent: -9999px; }
.has-javascript .view-icons #linkedContent li.bi-chess a span:before { 
														  	background-color: rgb(53,53,153); 
														  	color: #fff; 
														  	padding: 0 14px 10px; 
														  	margin: 0 3px;
														  	font-size: 36px; 
														  	position: relative; }
#linkedContent li.bi-chess a span:before,
.has-javascript .view-icons #linkedContent li.bi-chess a span:before {
														  	content: "\265C"; 
														  	line-height: 1; 
														  	text-align: center; }
.javascript-required,
#NavigationAtTop,
#NavigationAtBottom,
.off-page--HTML-only { position: absolute; left: -9999px; }

.has-javascript .javascript-required { position: relative; left: 0;}
#aboutContent a span:after,
.z-bar-1 .icon,
li#github-note-01,
.about .icon,
.home a span#homeContent,
.bi a span:before,
.bi:before,
[class^="bi-"]:before,
[class*=" bi-"]:before {display: inline-block;
  font-family: bootstrap-icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
body.screen { color: #bbb; 
				  font-family: arial; 
			  	  padding: 0; margin: 0; line-height: 1.3;
			  	  background-color: #f8f8fb; }
html { padding: 0; margin: 0; }
em.emoji-waving-h { font-size: 92px; }
td, tr, div { margin: 0; padding: 0; }
span.huh-contact { background-color: #EFB219; margin-bottom: 2px; font-family: 'Comic Neue', handwriting; }

#linkedContent {}
.has-javascript .view-list #linkedContent .bi.horizontal-placeholder {
  display: none;
}.has-javascript .view-icons #linkedContent .bi.horizontal-placeholder { 
  display: inline-block; 
    vertical-align: middle;
}
.has-javascript .view-icons #linkedContent li.horizontal-placeholder {
  color: #333;
  font-size: 18px;
  margin: 0 12px;
  min-height: 32px;
  outline: solid 3px #fff;
  padding: 4px;
  position: relative;
  text-align: center;
}
.view-icons #linkedContent .bi.horizontal-placeholder { display: none; }
.has-javascript #linkedContent li.logomark-github img { 
  display: inline-block; 
  height: 21px;
  width: 21px;}
  .has-javascript .view-list #linkedContent li.logomark-github img { 
  margin-right: 5px;
}
   .view-icons li { display: inline-block; }
   em.spoken-outloud { font-style: normal; }
   em.spoken-outloud,
   strong.emoji-search-result { color: #222; }
   span.from-pinyin-in-book-plus-online { color: #222; }
	#different-links,
   #digitalIdentityContent { text-align: center;  } 
/*  padding: 0 2px; */
   tr.containment-field { background-color: #66FFFF; overflow: hidden; }
   a:link, a:visited { color: rgb(53,53,153); }
   a:hover, a:focus, a:active { color: rgb(149,187,251); color: #95BBFA;
text-shadow: 4px 4px 6px #033B62; } 
               .bio { background-color: black; color: #7F7800; 
		                overflow: hidden; padding: 30px 0 10px; 
								position: relative; line-height: 1; }    
               .bio:after { content: ' '; background-color: rgb(165, 165, 165); 
               							  height: 21px; 
                        			      display: block; position: absolute; 

                            border-radius:20px; }
               .bio h1 { max-width: 360px;     font-size: 32px;
								display: inline-block; 
						       margin-left: 24px;}
					.bio img { float: left; margin-right: 24px; margin-left: 12px; }
               .bio span { color: #666666; }
               a { text-decoration: none; }

               table td { vertical-align: top; }
					table.link-to-contact { display: block; }
               table.link-to-contact aside h2 { font-family: Baskerville,serif; 
               											margin-bottom: 6px; 
		               									margin-top: 0;}
         		table.link-to-contact .sidebar .skeuo h2 {					 
               						background-color: #fff;
               						box-shadow: rgb(0,0,0,.15) 0px -13px 21px 2px;
											margin: -32px 12px 22px 6px;
     										border-radius: 10px 10px 0 0;
				                  	border-bottom: 4px solid #ccc;
            				   		text-align: center; }
               								table.link-to-contact .skeuo
.external-links{ font-family: 'Comic Neue', handwriting; }
			   table.link-to-contact aside table,
			   #digitalIdentityContent #socialMediaChannelsToggleLinks,
			   #digitalIdentityContent .view-list #linkedContent a { display: block; }
			   #digitalIdentityContent h2 { float: left; padding: 0 0 0 10px; }
			   #digitalIdentityContent #socialMediaChannelsToggleLinks {
					float: right;
					text-align: right; 
					top: 10px;
					position: relative; 
					padding: 0 20px 9px; }
/* 			   #digitalIdentityContent .view-icons #linkedContent { clear: both; } */
			   #digitalIdentityContent .view-icons #linkedContent a { padding-right:
			   #12px 3px;
			   			   			   			   			   		margin-right:
9px;
			   					   					   				display: block;
			   					   					   				float: left; }
               table.link-to-contact aside:after { content: ' '; 
               background-color: rgb(165, 165, 165); height: 6px; display: block; 
               position: absolute; 

               left: 3px; right: 3px; 
               border-radius:20px; }
               table.link-to-contact aside span.pineapple.discombobulation { 
               float: left; margin: 12px 12px 24px 0; font-size: 32px; }
               article.greets-back { color: #ff0000; }
               article.greets-back p { color: rgb(195, 195, 195); line-height: 1.3;

               font-family: times; }
               article.greets-back p span.external-links a { 
													background-color: #222; 
													color: orange;
													padding: 0 10px; }               
               article.greets-back p span.external-links span { font-size: 75%; }

               p.highlight-text.int-rest-focuses span {  background: #ffaa00; 
														 color: #333; 
														 padding: 3px 9px 3px 3px; }
               em { text-decoration: none; font-style: normal; }
               p:highlight { background-color: #ff0000 ; }

.neil-gaiman-line-rule { background: #fff; 
						border-radius: 20px; height: 6px; 
						outline: 0; border: 0; margin-top: 97px; margin-bottom: 13px;  }
#kaomoji { min-height: 100px; }
.has-javascript #select-list-icons-view { display: inline-block !important;
position: relative; left:0; color: #a3a3a3;  }
#off-page-markedup-lols2 { clear: both; text-align: center; }
#portfolio  .wrapper,
#pic-2,
#pic-japan {   background-color: #AD2F2B;
    border: 8px solid #0a0a0a;
    display: inline-block;
    height: 220px;
    line-height: 1;
    margin: 0 0 10px 44px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: 220px; }
#portfolio .wrapper  { width: 80%; min-height: 400px; display: block;} 
#portfolio img { vertical-align: top; margin: 100px 0 0; }
#portfolio .long-png-img { margin: 0;}
#pic-2 li,
#pic-japan li { border: 4px solid #0a0a0a;
				display: inline-block;
				float: none;
				margin-left: 0;
				margin-right: 0;
				max-height: 220px;
				max-width: 220px;
				scroll-snap-align: none center;
				vertical-align: top; }

#picture-discovery h2,
#picture-discovery h3 { margin: 0 33px 0 0; color: rgb(53,53,153); }
#picture-discovery h3 { border-bottom: 12px solid ; }
#picture-discovery ul#pic-japan,
#picture-discovery ul#pic-2 { padding: 0; margin: 0 33px 0 0 ; }
@media (prefers-color-scheme: dark) {
  	body.screen { background-color: #141414; }
  	.bio { background-color: #3D0000; border-bottom-color: #000; }
	.bio:after,
	table.link-to-contact aside:after { background-color: #333; }
  	table.link-to-contact #different-links { background-color: #191919; }
  	.view-list #linkedContent li:nth-child(odd) { background-color: #111; }
  	table.link-to-contact #different-links { border-bottom-color: rgb(53,53,153);
 }
  	textarea, 
	select { background-color: #808080; }
	article.greets-back p { color: rgb(75, 75, 75); }
  	em.spoken-outloud, strong.emoji-search-result { color: #aaa; }
  	#picture-discovery #pic-japan,
  	#picture-discovery #pic-2 { scrollbar-color: #000; overflow: hidden; }
  }
.haz-info { cursor: pointer; }
.haz-info:hover,.haz-info:focus,.haz-info:active { color: #999;  }
#picture-discovery .discover-pictures { display: inline-block; }
#footer { background-color: #444; padding: 13px 44px 40px; #clear: both;}
.discover-pictures { max-width: 400px; vertical-align: text-top; }
#pictures-ol-tbd {min-width: 200px; }
#pictures-ol-tbd ul {list-style: none;}
body#body-level-layer1 { text-align: center;  }
body#body-level-layer1 #container-crimsonkinda  { width: 100%; 
								border-collapse: collapse;
								text-align: left; }
body#body-level-layer1 table,
body#body-level-layer1 p,
body#body-level-layer1 li,
body#body-level-layer1 #emoji–Kaomoji
{ text-align: left;
}
#footer a { color: orange; }
#footer a:hover { text-shadow: none; text-decoration: underline; }
table.link-to-contact .sidebar .skeuo h2 span.host-note { font-size: 12px;
	color: #a1a1a1; display: block; }
table.link-to-contact #different-links p {
	font-size: 12px;
}
@media only screen and (max-device-width: 480px){
   .bio h1 { font-size: 0.9em; max-width: 100%; }
   .bio h1 { font-size: 0.9em; max-width: 100%; }
	#linkedContent a span:before { font-size: 1.4em; 
        padding-right: 20px;
        display: inline-block;
	}
	.view-icons #linkedContent a span:before { font-size: 3em; }
	.view-list #linkedContent, .view-icons #linkedContent { max-width: 100%;}
	.has-javascript #select-list-icons-view { font-size: 1em; }
	#footer p { font-size: 12px;}
}
table.link-to-contact #different-links p,
	#different-links p { max-width: 1018px; font-size: 3vh; }
                #different-links { background: #F0F2F6; color: #333;  border-top: 8px solid #B38A00;  }
/* table.link-to-contact #different-links p { max-width: 450px;} */
					#digitalIdentityContent,
 #different-links p { padding-left: 20px;padding-right: 20px; }
	#digitalIdentityContent { background-color: #0376BB; border-top: 8px solid #033B62;}
	#background2 { background-color: #1EB100; }
	#background3,	#different-links { background-color: #F7BA00; }
	#background4, #portfolio { background-color: #AD2F2B; /* #ED230D; */ }
 #portfolio { width: 100%; margin: 0; padding: 40px 0 30px; border-top: 8px solid #7F2F2B;  }
#portfolio .wrapper { width: 80%; border-color: #7F2F2B; }
body.screen { background-color: #fff; }
div, aside { overflow: hidden; }
div {/* 
 border-bottom: 12px solid rgb(225, 
225,
225); 
 */padding-bottom: 50px; padding-top: 20px; }
div div { border-bottom: 0; padding-bottom: 0;}
#downpage-markedup-lols4 {padding-bottom: 0; padding-top: 0;}
