/* 
stylesheet-author: @kaichanvong
stylesheet-name: yo-kai.css
stylesheet-domain: http://kaivong.com && http://kaichanvong.online
stylesheet-about: direction kinda links (in HTML) to HEY! (http://hey.com)
 */

@charset "utf-8";
@font-face {
  font-family: "bootstrap-icons";
  src: url("../fonts/bootstrap-1.11.0-icons.woff") format("woff2"),
	   url("../fonts/bootstrap-1.11.0-icons.woff") format("woff"); }
/* url("../fonts/bootstrap-1.11.0-icons.woff?a74547b2f0863226942ff8ded57db345") */
}
body { font-size: 13px; }
article.greets-back { max-width: 460px; padding-left: 33px; }

.view-list #linkedContent,
.view-icons #linkedContent { max-width: 290px; }
.view-list #linkedContent { padding-left: 0; margin-top: 0; }
.view-icons #linkedContent { padding: 0; margin-top: 0;}
.view-icons #linkedContent li { min-width: 60px; }
.view-list ol#linkedContent { list-style: none; }
#linkedContent a span:before {  font-size: 21px; margin-bottom: 18px; }
.view-icons #linkedContent a span:before {  font-size: 48px; margin: 0 7pt; }
.has-javascript .view-list #linkedContent li.logomark-github { padding-bottom: 18px; }
.has-javascript .view-icons #linkedContent li.logomark-github img { width: 48px; 
																	height: 48px; }
.has-javascript .view-list #linkedContent li span:before,
.has-javascript .view-list #linkedContent li img { position: relative; top: 5px; }
.view-list #linkedContent a span:before { margin-right: 9px; }
.view-list #linkedContent li.bi { padding: 8px 0 4px; clear: both; }
.view-icons #linkedContent li.bi { padding: 0px 0px 10px; }
#linkedContent li.bi-instagram a span:before { 	content: "\f437"; }
#linkedContent li.bi-facebook a span:before { 	content: "\f344";  }
#linkedContent li.bi.bi-linkedin a span:before {content: "\f472"; 
        									  	position: relative; }
.view-list #linkedContent li.bi.bi-linkedin a span:before { line-height: 1; }
#linkedContent li.bi-twitter-x a span:before {content: "\f8db"; 
														  	line-height: 1.2; }
.has-javascript .view-icons #linkedContent li.bi a span strong { display: inline-block;  
														  	overflow: hidden; 
														  	text-indent: -9999px;  }

.has-javascript .view-icons #linkedContent li.bi-chess a span:before { 
background-color: rgb(53,53,153); color: #fff; padding: 0 14px 10px; margin: 0 3px; 
font-size: 36px; position: relative; top: -10px; }
#linkedContent li.bi-chess a span:before,
.has-javascript .view-icons #linkedContent li.bi-chess a span:before {
														  	content: "\265C"; 
														  	line-height: 1; 
														  	text-align: center;
														  	min-width: 21px;
														  	 }
														  	 
														  	 
#NavigationAtTop,
#NavigationAtBottom,
/*off-page-markedup-lols1,
off-page-markedup-lols2 { position: absolute; left: -9999px; }*/
.off-page--HTML-only { position: absolute; left: -9999px; }
#aboutContent a span:after,
.z-bar-1 .icon,
li#github-note-01,
.about .icon,
.home a span#homeContent,
.bi a span:before,
.bi:before,
[class^="bi-"]:before,
[class*=" bi-"]:before {display: inline-block;
  font-family: bootstrap-icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
body.screen { color: #bbb; font-family: arial; padding: 0; margin: 0; }
			   html { padding: 0; margin: 0; cursor: pointer; }
		   em.emoji-waving-h { font-size: 92px; }
		   td, tr, div { margin: 0; padding: 0; }

#linkedContent {}
.has-javascript .view-list #linkedContent .bi.horizontal-placeholder {
  display: none;
}.has-javascript .view-icons #linkedContent .bi.horizontal-placeholder { 
  display: inline-block; 
    vertical-align: middle;
}
.has-javascript .view-icons #linkedContent li.horizontal-placeholder {
  color: #333;
  cursor: default;
  font-size: 18px;
  margin: 0 12px;
  min-height: 32px;
  min-width: 32px;
  outline: solid 3px #fff;
  padding: 4px;
  position: relative;
  text-align: center;
  top: -15px;
}
														  	 
.view-list #linkedContent li:nth-child(odd) { background-color: rgb(235,235,235); }
.view-icons #linkedContent .bi.horizontal-placeholder { display: none; }
.has-javascript #linkedContent li.logomark-github img { 
  display: inline-block; 
  height: 21px;
  width: 21px;}
  .has-javascript .view-list #linkedContent li.logomark-github img { 
  margin-right: 5px;
}
   .view-icons li { display: inline-block; }
   em.spoken-outloud { font-style: normal; }
   em.spoken-outloud,
   strong.emoji-search-result { color: #222; }
   span.from-pinyin-in-book-plus-online { color: #222; }
   article,
   #digitalIdentityContent { padding: 0; } 
   tr.containment-field { background-color: #66FFFF; overflow: hidden; }
   a:link, a:visited { color: rgb(53,53,153); }
               .bio { background-color: #333; color: #00FF00; 
               border-bottom: rgb(225, 225, 225) 15px solid; 
                      padding: 30px 0 10px; position: relative;  }    
               .bio:after { content: ' '; background-color: rgb(165, 165, 165); 
               							  height: 13px; 
                        			      display: block; position: absolute; 
					                      bottom: -15px; left: 3px; right: 3px; 
                            border-radius:20px; }
               .bio h1 {	float: left; 
						    margin-right: 20px; 
						    margin-left: 24px;}
               .bio span { color: #111; }
               a { text-decoration: none; }
               table.skeuo { width: 100%; }
               table td { vertical-align: top; }
               table.link-to-contact aside h2 { font-family: Baskerville,serif; 
               									font-size: 28px; margin-bottom: 6px; }
               table.link-to-contact aside { background: snow; 
                                            color: #333; 
                                            padding: 0 18px 12px 0;  
                                            margin: 0 10px 0 0; 
                                            border-bottom: 12px solid rgb(225, 225, 225); 
                                            position: relative; }			   
			   table.link-to-contact aside table,
			   #digitalIdentityContent h2,
			   #digitalIdentityContent #socialMediaChannelsToggleLinks,
			   #digitalIdentityContent .view-list #linkedContent a { padding-left: 24px; }
			   #digitalIdentityContent h2 { float: left; padding-bottom: 0; }
			   #digitalIdentityContent #socialMediaChannelsToggleLinks { float: right; 
			   								text-align: right; 
			   								padding-right: 30px; }
			   #digitalIdentityContent .view-icons #linkedContent {  clear: both; 
			   										     			padding-left: 10pt; }
			   #digitalIdentityContent .view-icons #linkedContent a { padding-right: 4pt;}
               table.link-to-contact aside:after { content: ' '; 
               background-color: rgb(165, 165, 165); height: 6px; display: block; 
               position: absolute; bottom: -9px; left: 3px; right: 3px; 
               border-radius:20px; }
               table.link-to-contact aside span.pineapple.discombobulation { 
               float: left; margin: 12px 12px 24px 0; font-size: 32px; }
               article.greets-back { color: #ff0000; }
               article.greets-back p { color: rgb(195, 195, 195); line-height: 1.3; 
               font-family: times; }
               article.greets-back p span.external-links a { 
													background-color: rgb(125, 125, 125); 
													color: orange; }               
               article.greets-back p span.external-links span { font-size: 75%; }
               p.highlight-text.int-rest-focuses { margin-left: -3px; }
               p.highlight-text.int-rest-focuses span {  background: #ffaa00; 
														 color: #333; 
														 padding: 3px 9px 3px 3px; }
               em { text-decoration: none; font-style: normal; }
               .📧📧 { display: block; margin-top: 10px; font-style: italic; 
                       color: blue; color: red; border-left: #0000FF 10px solid; 
                       padding-left: 21px; margin-left: -24px; font-size: 75%; 
                       margin-top: 21px;
                       background-color: snow; 
                       padding: 6px 6px 6px 15px; }
                       .📧📧:hover { background: red; color: yellow; }
               p:highlight { background-color: #ff0000 ; }
#TFOWolviesSong { /* -- 🎧 Chase Petra - Soapy Water -- 

                     -- 📕 Neil Gaiman's: The Sandman; "Personification of Delirium" --  */
                  /* apparently, "he younger (eh?) sister of Dream, and the youngest (er-ok-but-eh??) of the Endless" */
                }
.neil-gaiman-line-rule { background: #aaaaaa; border-radius: 20px; height: 6px; outline: 0; border: 0;  }