@charset "utf-8";
/* fonts for social links */
@font-face {
  font-family: "bootstrap-icons";
  src: url("fonts/bootstrap-icons.woff2?a74547b2f0863226942ff8ded57db345") format("woff2"), 
       url("fonts/bootstrap-icons.woff?a74547b2f0863226942ff8ded57db345") format("woff"); }
.bi a span:before,
.bi:before,
[class^="bi-"]:before,
[class*=" bi-"]:before {display: inline-block;
  font-family: bootstrap-icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em; }
html p { line-height: 1.4; }
i.bi-geo-alt:before    {content: "\f3e8"; }
i.bi-link-45deg:before {content: "\f470"; }
.display-icons.social-media-channels li { list-style: none; }
.display-icons.social-media-channels .bi a span:before {margin-right: 4px; }
.display-icons.social-media-channels .bi-github a span:before {content: "\f3ed "; }
.display-icons.social-media-channels .bi-linkedin a span:before {content: "\f472 "; }
td.about table a {
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline; }
td.home a {
  cursor: default;
  font-weight: normal;
  text-decoration: none; }
.menubar.z-bar-1 td.notes a {
  min-width: 100px; }
/* table menubar */
td.about table a {
  padding: 0 1.4em; }
td.about table td {
  min-width: 240px;
  padding-bottom: 10px;
  padding-top: 10px; }
td.about table td.tweets a {
  padding-bottom: 10px; }
.home-links {
  margin-left: -30px; }html.highlight a.external:link,
html.highlight body.social-links a:link,
html.highlight body.esports a:link {
  color: #009999; }
html.highlight a.external:visited,
html.highlight a.external:focus, 
html.highlight a.external:active,
a.external:link, a.external:visited {
  background-color: #21262e;
  color: #f4a460;
  font-weight: bold; }
a.external:focus {
  color: #21262e; }
.hidden-visibility a.external:link, 
.hidden-visibility a.external:visited {
  background-color: #00cdd1;
  color: #00cdd1; }
.hidden-visibility a.external:focus {
  background-color: initial;
  color: initial; }
#external-links {
  float: right;
  line-height: 2;
  margin: 0 90px 0 0;
  overflow: hidden;
  padding: 0 0 14px;
  text-align: left;
  vertical-align: top; }
#external-links li {
  border-bottom: 4px solid #00ff7f;
  border-top: 0;
  display: inline-block;
  margin: 0 0 0 22px;
  padding: 0;
  vertical-align: bottom; }
  #external-links li:first-child {
    margin-left: 0; }
#external-links li img {
  margin: 0;
  width: 50px;
  display: block; }
#external-links li a {
  background-color: #eee; }#external-links li a:focus img {
  background-color: #fff;
  opacity: 100%; }#external-links li a:focus img {
  opacity: 75%; }
#external-links li.css-validation {
  font-size: 0;
  height: 28px; }
#external-links li.example-studies a, 
#external-links li#artfinder a, 
#external-links li#dressipi a, 
#external-links li#justgiving a {
  background: transparent url("social_network_icons.png") 0 0 no-repeat;
  background-size: cover;
  display: block;
  height: 28px;
  overflow: hidden;
  text-indent: -1080px;
  width: 28px; }
#external-links li#artfinder a {
  background-position: -2px 0; }
#external-links li#dressipi a {
  background-position: -48px 0; }
#external-links li#justgiving a {
  background-position: -76px 0; }
#external-links li.example-studies a {
  background-position: -114px 0; }
#external-links li li {
  text-align: center;
  margin-right: 16px;
  padding: 0 0 0;
  vertical-align: top; }
#external-links li a {
  border: 0; }
#external-links li i {
  display: none;
  font-size: 2.4em;
  width: 36px;
  height: 36px;
  margin: 0 25px 0 0; }
#external-links li img {
  display: none;
  display: inline-block;
  top: 0;
  margin: 0 0 0 0; }div.menubar a:link {
  color: #009999;
  padding: 2px; }
div.menubar a:visited {
  color: #009999; }
div.menubar a:focus, div.menubar a:active {
  color: #009999;
  text-decoration: none; }body .menubar.controls.widget td.notes {
  min-width: 100px;
  width: 35%; }
body span.menubar.controls.widget li.digital-identity {
  margin-right: 60px; }
  @media (max-width: 400px) {
    body span.menubar.controls.widget li.digital-identity {
      margin-right: 10px; } }
/* pictures */
.pictures--css div div {
  background-color: #0a0a0a;
  border: 4px solid #0a0a0a;
  display: inline-block;
  height: 210px;
  line-height: 1;
  margin: 0 0 10px 44px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  width: 320px; }
  @media (max-width: 320px) {
    .pictures {
      max-width: 260px; } }
  @media (max-width: 480px) {
    .pictures {
      margin: 0 10px 10px 44px; } }
  .pictures--css img,
  .pictures img {
    border: 4px solid #0a0a0a;
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-right: 0;
    max-height: 320px;
    max-width: 320px;
    scroll-snap-align: none center;
    vertical-align: top; }
    /* pictures-wrapper */
    .pictures--css div,
    .pictures-wrapper,
.pictures-wrapper-2 {
  color: #e0e0e0;
  display: block;
  margin: 0 0 0 44px;
  padding: 0;
  position: relative;
  width: 320px; }
  .pictures--css div div:after,
  .pictures-wrapper:after,
  .pictures-wrapper-2:after {
    content: "\f42b";
    font-family: bootstrap-icons;
    margin: 4px 0 0 0;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 4; }
  @media (max-width: 320px) {
    .pictures--css {
      max-width: 260px; } }
  .pictures--css div {
    margin: 0; }
    #main-content #online-companies #dressipi.pictures--css div:after,
    #main-content #online-companies #justgiving.pictures--css div:after { color: #0a0a0a; }
    .pictures-wrapper-2 {
  color: #0a0a0a; }
  body {
  color: #222;
  font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }
  body .normal.back-link {
    display: block;
    margin-bottom: 1em;
    margin-left: 44px;
    line-height: 1; }
  body #main-content {
    clear: both;
    padding: 3em 0 0; }
  body table.menubar.controls.widget {
    background-color: #21262e;
    border: 0.1em solid #222;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2; }
    body table.menubar.controls.widget tbody, 
    body table.menubar.controls.widget tr {
      width: 100%; }
    body table.menubar td.about { overflow: hidden; }
    body table.menubar.controls.widget.z-bar-1 td.about table {
        border-spacing: initial;
        display: block;
        left: -9999em;
        padding-top: 5em;
        position: absolute;
        top: 1.5em;
        margin: 0; }
        body table.menubar.controls.widget.z-bar-1 td.about table .about {
          border: 0; }
        body table.menubar.controls.widget.z-bar-1 td.about table tbody, 
        body table.menubar.controls.widget.z-bar-1 td.about table tr {
          display: block; }
        body table.menubar.controls.widget.z-bar-1 td.about table td {
          border: 0; }
        body table.menubar.controls.widget.z-bar-1 td.about table .bio {
          border-radius: 1em 1em 0 0;
          padding-top: 1em; }
          body table.menubar.controls.widget.z-bar-1 td.about table .bio a {
            padding-top: 1em; }
        body table.menubar.controls.widget.z-bar-1 td.about table td.about {
          padding: 0; }
      body table.menubar.controls.widget.z-bar-1 td.about a:focus + table,
      body table.menubar.controls.widget.z-bar-1 td.about a:hover + table,
      body table.menubar.controls.widget.z-bar-1 td.about table:focus,
      body table.menubar.controls.widget.z-bar-1 td.about table:focus-within,
      body table.menubar.controls.widget.z-bar-1 td.about table:hover {
        left: 0%;
        min-width: 10em;
        min-height: 17em;
        padding: 3em 0 0;
        position: absolute; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table:before,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table:before,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus:before,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within:before,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover:before {        
            background-color: #21262e;
          content: '';
          display: block;
          height: 1em;
          left: 3em;
          position: absolute;
          top: 2.5em;
          transform: rotate(-45deg);
          width: 1em;
          z-index: -6; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table:after,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table:after,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus:after,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within:after,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover:after {
          background-color: #21262e; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .designs, 
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .gaming, 
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .about-kcv-about, 
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .bio, 
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .contact, 
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .digital-identity, 
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .designs,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .about-kcv-about,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .bio,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .contact,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .digital-identity,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .designs,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .about-kcv-about,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .bio,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .contact,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .digital-identity,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .designs,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .about-kcv-about,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .bio,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .contact,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .digital-identity,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .designs,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .about-kcv-about,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .bio,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .contact,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .digital-identity,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .tweets {
          border-bottom: 0.1em solid #000;
          display: block;
          margin: auto 0;
          padding: 0.6em 0 0.75em 0.6em;
          text-align: left; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .designs,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .designs,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .designs,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .designs,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .designs {
          display: none; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .gaming,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .gaming {
          top: 6em; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .about-kcv-about,
    body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .about-kcv-about,
    body table.menubar.controls.widget.z-bar-1 td.about table:focus .about-kcv-about,
    body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .about-kcv-about,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .about-kcv-about {
          top: 11em; }
        body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .tweets,
        body table.menubar.controls.widget.z-bar-1 td.about table:hover .tweets {
          border-radius: 0 0 1em 1em;
          padding-bottom: 0; }
          body table.menubar.controls.widget.z-bar-1 td.about a:focus + table .tweets a,
          body table.menubar.controls.widget.z-bar-1 td.about a:hover + table .tweets a,
          body table.menubar.controls.widget.z-bar-1 td.about table:focus .tweets a,
          body table.menubar.controls.widget.z-bar-1 td.about table:focus-within .tweets a,
          body table.menubar.controls.widget.z-bar-1 td.about table:hover .tweets a {
            padding-bottom: 1.3em; }
      body table.menubar.controls.widget.z-bar-1 td.about .designs {
        top: 13em; }
      body table.menubar.controls.widget.z-bar-1 td.about .gaming {
        top: 170em; }
      body table.menubar.controls.widget.z-bar-1 td.about .about-kcv-about {
        top: 22em; }
    body table.menubar.controls.widget.z-bar-1 td.notes, 
    body table.menubar.controls.widget.z-bar-1 td.home {
      clear: none; }
    body table.menubar.controls.widget table {
      border: 0; }
  @media (min-width: 400px) {
    body .menubar.controls.widget li {
      margin: 0 0 1em 0; } }
  @media (max-width: 510px) {
    body #main-content p {
      margin-right: 5em; } }
  body .footer div.copyright {
    background: #b0c4de;
    color: #21262e;
    clear: both; }
    body .footer div.copyright p {
      font-size: smaller;
      margin-left: 0em;
      margin-top: 0.25em; }
    @media (min-width: 480px) {
      body .footer div.copyright {
          padding: 1em 0 1em 30px; } }
  body div.footer {
    background-color: #b0c4de;
    margin: 1em 0 0;
    text-align: left; }
    body div.footer table {
      min-width: 100%;
      visibility: visible; }
      body div.footer table table {
        min-width: auto;
        display: none; }
    body div.footer .normal.back-link {
      display: none; }
    body div.footer p {
      display: inline-block;
      margin: 0.25em 0 0.25em; }
  body h1, body h2, body h3, body h4, body .widget {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 12px 0 44px;
 }
  body h1 {
    font-weight: normal;
    color: #336699;
    font-size: 32pt;
    padding: 0.2em 1em 0.2em 1em;
    position: relative;
    
    visibility: visible;
    display: block;
    z-index: 1; }
    body h1 a {
      color: #0a0a0a; }
  body p, body pre, body li {
    font-size: 16px;
    margin: 0; }
    @media (min-width: 480px) {
      body p, body pre, body li {
        margin-bottom: 1em; } }
  body h2,
  body h3 {
    font-size: 16px;
    margin-bottom: 0; }
  body img#logo {
    height: 53px;
    left: 0;
    position: absolute;
    top: 0; }
  body nav ol {
    font-family: auto; }
  body ol, body ul {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    margin: 0 4em 2em 44px; }
    @media (min-width: 480px) {
      body ol, body ul {
        margin: 0 4em 2em 44px; } }
  body ol li, body ul li {
    margin: 0  1em 0 0; }
  body ol li p, body ul li p {
    margin: 0 0 1em; }
  body ol li img, body ul li img {
    margin-right: 10em;
    position: relative; }
  body ol h3, body ul h3 {
    margin-bottom: 0.25em;
    padding-bottom: 0; }
  body ol h4, body ul h4 {
    margin: 0;
    padding: 0; }
  body p {
    font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    margin-bottom: 1em;
    margin-left: 44px; }
  body #main-content {
    min-height: 620px;
    padding-top: 0; }
  body .copyright p {
    margin-right: 0; }
  body .footer .normal.back-link {
    display: none; }
  body p {
    margin-right: 10em; }
  body .normal.back-link {
    margin-right: 4em; }
    body .normal.back-link a {
      visibility: hidden; }
  body table.menubar.controls.widget {
    border-collapse: collapse;
    font-family: auto;
    font-size: 15px;
    line-height: 1.25; }
    body table.menubar.controls.widget td a {
      color: #87ceeb;
      font-family: Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif; }
      body table.menubar.controls.widget td a:focus {
        color: grey; }
    body table.menubar.controls.widget td.external,
    body table.menubar.controls.widget td.external a.external:link,
    body table.menubar.controls.widget td.external a.external:visited {
      color: #fff; }
    body table.menubar.controls.widget.z-bar-0 {
      padding-bottom: 1.5em;
      padding-top: 0.25em;
      text-align: left; }
      body table.menubar.controls.widget.z-bar-0, 
      body table.menubar.controls.widget.z-bar-0 tbody, 
      body table.menubar.controls.widget.z-bar-0 tr, 
      body table.menubar.controls.widget.z-bar-0 td {
        display: inline-block;
        vertical-align: top; }
      body table.menubar.controls.widget.z-bar-0 .about, 
      body table.menubar.controls.widget.z-bar-0 .about table, 
      body table.menubar.controls.widget.z-bar-0 .about tbody, 
      body table.menubar.controls.widget.z-bar-0 .about tr {
        display: inline-block; }
      body table.menubar.controls.widget.z-bar-0 .about td {
        border: 0;
        display: inline-block; }
        body table.menubar.controls.widget.z-bar-0 .about td a {
          padding: 0; }
      body table.menubar.controls.widget.z-bar-0 tbody, 
      body table.menubar.controls.widget.z-bar-0 tr {
        display: block; }
      body table.menubar.controls.widget.z-bar-0 td {
        border: 0;
        padding: 0;
        text-align: center; }
      body table.menubar.controls.widget.z-bar-0 td.about, 
      body table.menubar.controls.widget.z-bar-0 td.about table {
        display: block;
        text-align: left; }
      body table.menubar.controls.widget.z-bar-0 td.about label {
        margin: 0 0 0 0; }
      body table.menubar.controls.widget.z-bar-0 td.bio, 
      body table.menubar.controls.widget.z-bar-0 td.contact, 
      body table.menubar.controls.widget.z-bar-0 td.designs, 
      body table.menubar.controls.widget.z-bar-0 td.gaming, 
      body table.menubar.controls.widget.z-bar-0 td.digital-identity, 
      body table.menubar.controls.widget.z-bar-0 td.tweets,
      body table.menubar.controls.widget.z-bar-0 td.notes, 
      body table.menubar.controls.widget.z-bar-0 td.home {
        display: block;
        margin: 0 0 0.5em 2em;
        padding: 0;
        text-align: left; }
        body table.menubar.controls.widget.z-bar-0 td.bio a, 
        body table.menubar.controls.widget.z-bar-0 td.contact a, 
        body table.menubar.controls.widget.z-bar-0 td.designs a, 
        body table.menubar.controls.widget.z-bar-0 td.gaming a, 
        body table.menubar.controls.widget.z-bar-0 td.digital-identity a, 
        body table.menubar.controls.widget.z-bar-0 td.tweets a,
        body table.menubar.controls.widget.z-bar-0 td.notes a, 
        body table.menubar.controls.widget.z-bar-0 td.home a {
          margin: 0;
          padding: 0; }
    body table.menubar.controls.widget thead td {
      background: #b0c4de;
      color: #222;
      font-weight: bold; }
    body table.menubar.controls.widget td {
      background: #21262e;
      border: 0.1em solid #000;
      padding: 0 0;
      vertical-align: top; }
      body table.menubar.controls.widget td a:link {
        border-bottom: 0;
        display: block; }
    body table.menubar.controls.widget thead td,
    body table.menubar.controls.widget td a {
      display: block;
      padding: 0 2em 0.5em; }
    body table.menubar.controls.widget .last-note {
      color: #87ceeb; }
     /* table menu */
      
  body .twitter-tweet {
    min-height: 550px; }
  body blockquote,
  body .twitter-tweet.twitter-tweet-rendered {
    margin-left: 4em; }.link-text {
  display: none; }p, span {
  margin: 0;
  padding: 0; }#about h2 {
  visibility: hidden; }
#about .z-bar-0 td.about a {
  margin-left: -40px; }
#about .z-bar-0 td.about table a {
  margin-left: 0; }
#about #main-content {
  background-color: #a4b3b6;
  padding-bottom: 0;
  margin-bottom: 0; }
#about #developer-picture {
  float: left;
  margin: 0 0 0; }
#about .has-links a {
  color: #76D6FF; }
  #about .has-links a.external {
    color: #fff; }
#about #email, #about #kai-info, #about .footer {
  background-color: #fff; }
#about #hresume p {
  margin-bottom: 0;
  padding-bottom: 30px; }
#about #email, #about #kai-info {
  margin: 0; }
#about #kai-info {
  padding-top: 20px; }
#about .footer {
  margin-top: 0; }#bio img.twitter {
  border: 0;
  border-radius: 300px;
  float: left;
  margin: 0 40px 10px 0;
  height: 70px;
  width: 70px; }
#bio h2 {
  text-transform: none; }
#bio #twitch-details,
#bio #twitter-details {
  font-size: 80%; }
#bio #twitch-details {
  float: right;
  margin: 40px 0 0 60px;
  min-width: 120px; }
  #bio #twitch-details i {
    float: left;
    margin: 0 8px 10px 0; }
#bio .twitter-handle {
  color: blue; }
  #bio .twitter-handle a {
    text-decoration: none; }
#bio #twitter-details {
  margin: 0 0 1em 40px;
  min-width: 460px; }

#bio .twitch, #bio .twitter {
  background-color: skyblue;
  border-top: 4px solid #aaa;
  padding-bottom: 30px;
  padding-top: 15px; }
  #bio .twitch p, #bio .twitter p {
    margin-bottom: 0; }
#bio .twitter + div {
  background-color: skyblue;
  border-bottom: 2px solid #aaa;
  padding-bottom: 20px; }
#bio .twitch {
  background-color: lavender; }
  #bio .twitch + div {
    background-color: lavender;
    border-top: 0;
    padding-bottom: 20px; }
  #bio .twitch .bi.bi-link-45deg {
    background-color: #21262e;
    color: #f4a460;
    font-weight: bold; }
    #bio .twitch .bi.bi-link-45degspan:before, 
    #bio .twitch .bi.bi-link-45deg:before {    color: #FFFF00; }
#bio li.user h3.name {
  display: inline;
  margin: 0;
  padding: 0; }
#bio li.user h4.username {
  float: left;
  margin-right: 10px; }
#bio li.user div.bio {
  clear: left; }
  #bio li.user div.bio.bio-not-found {
    border-left: #222 6px solid;
    color: #76D6FF;
    padding-left: 30px;
    margin-left: -30px; }
#bio ul#followers-kaichanvong,
#bio ul#twitch-crimsonkinda,
#bio ul#twitter-bio-rebels {
  margin-left: 60px;
  padding: 0; }#contact {
  margin-top: 0; }
  #contact #contact-me {
    background-size: cover;
    margin: 0 60px 20px 44px;
    min-width: 420px;
    max-width: 800px;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: left; }
    #contact #contact-me .electronic-mail a {
      background: #21262e;
      color: #fff;
      display: inline-block; }
    #contact #contact-me h1, 
    #contact #contact-me h2,
    #contact #contact-me h2 {
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 36px;
      float: left;
      margin: 0;
      padding: 0;
      text-align: left;
      text-shadow: none; }
    #contact #contact-me #electronic-mail {
      background-color: #21262e;
      color: grey;
      margin: 0;
      opacity: 80%;
      padding: 10px 0 10px 20px;
      text-align: left; }
    #contact #contact-me p {
      margin: 0; }
    #contact #contact-me table {
      margin: 0 0 0 20px; }
  #contact .social-links {
    margin: 40px 0 0 0; }
  #contact #social-links,
  #contact .social-links {
    clear: both; }
  #contact img.decorative {
    border: 10px solid #555;
    margin-left: 20px; }    
body#top h1 a {
  font-weight: bold;
  text-decoration: none; }
body#top h2 {
  font-size: 18pt;
  font-weight: normal;
  padding-left: 1em;
  padding: 10px 26px; }
  body#top #sidebar:after {
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    display: block;
    height: 80px;
    position: absolute;
    top: 49px;
    right: 20px;
    width: 80px; }
  @media (max-width: 1021px) { html .portfolioAlbum p { max-width: 360px;}  }
  body#top #sidebar h3 {
    font-size: 13px;
    margin-left: 0;
    padding: 0 0 0; }
  body#top #sidebar p {
    font-size: 11px;
    line-height: 1.6;
    margin: 0 90px 10px 0; }
  @media (prefers-color-scheme: dark) {
    body#top #sidebar {
      background-color: #21262e;
      border: 6px solid #222;
      color: grey; }
      body#top #sidebar h3 {
        border-bottom: 3px solid #fff; } }
body#top .recent-digital-notes {
  min-width: auto; }
body#top .links {
  line-height: 1.8;
  min-width: 980px; }
  body#top .links a {
    display: block; }
  body#top .links li {
    margin-bottom: 20px;
    line-height: 1; }
  body#top .links .link-text {
    display: none; }
  body#top .links small {
    line-height: 1; }
  body#top .links small a {
    display: inline-block; }
body#top ol.links,
body#top ul.links {
  color: #222; }
  body#top ol.links small,
  body#top ul.links small { color: grey; }
 #kai-info { padding-bottom: 30px; }
 #main-content #about h2 { display: block; visibility: visible; }
 #main-content #about .has-links h2 { display:none; visibility:hidden; }
 #main-content .kern-a-e,
 #main-content .google { background-color: transparent; color: #369; font-weight: normal; }
 #main-content .kern-a-e- { position: relative; z-index: -1;}
body #main-content #gaming-notes {padding-top:18px;}
 #main-content .scattered-companies { padding-top: 8px; padding-bottom: 0 }
body #main-content p {margin-right: 2em;}
 #main-content .twitter .tweets-by-year li { display: inline; }
 #main-content .scattered-companies .pictures { height: 240px; }
 #main-content .scattered-companies  h2 { text-transform: none; }
 #main-content #designs { overflow: hidden; }
#designs .redesigns.pictures li { float: none; display: inline-block;}
 #main-content #developer-kata-stuff.note img { float: none; }
body #main-content table.menubar.controls.widget.z-bar-0 td.home a { font-weight: bold; 
text-decoration: underline; }
.highlight.headline-text { background-color: #76D6FF; border-bottom: 2px solid black; 
border-left: 10px solid black; color: black; padding: 0 0 0 13px;  }
.highlight.headline-text a,.highlight.headline-text span { padding: 0; margin: 0;}
body table.menubar.controls.widget.z-bar-1 td.about table {top: 0.2em;}
.highlight.headline-text a { background-color: #76D6FF; color: #424242;  }
body table.menubar.z-bar-1 td.about a { padding: 0 1.25em 0.5em; }
body #main-content .footer table.menubar.controls.widget td.about a { padding-left: 2em}
body #main-content .footer table.menubar.controls.widget td.about table a  { padding-left: 0}
body h1 {font-size: 22pt;}
body #main-content #bio { padding-bottom: 0; }
body#top>nav { position:sticky; top:0; z-index:2; }
body { cursor: default; } 
.justgiving.portfolioAlbum { margin-bottom: 0; }
#online-companies { padding-bottom: 0; }
.portfolioAlbum p { max-width: 510px; white-space: normal; line-height: 1.3; }
#sidebar button { border: 1px solid #424242; border-radius: 100%; 
display:block !important; float: right; height:80px;padding:0; overflow:hidden;position: relative; 
text-align: left; width:80px; z-index:2;}
#sidebar dialog::backdrop { background-color: rgba(0,0,0, 0.90); }
#sidebar dialog { padding: 0; border-radius: 100%;}
#sidebar dialog img { display: block; float: none; height: 100%; width: 100%; 
 					  max-width: 280px; max-height: 280px;}
#sidebar dialog span { position: absolute; left: 10px; top: 10px; color: #fff; }
body#top #sidebar:after { display: block; } 
#social-media-channels-complete { list-style-type: none; margin-left: 10px; }
body#top #sidebar { background-color: #bbb; display: block; float: none; margin: 0; max-width: auto; 
padding: 10px 10px 10px 24px; position: relative; width: auto; z-index: -1; }
body#top #sidebar p { font-size: 1em; line-height: 1.3; }
body#top #sidebar p,
body#top #sidebar p { margin-right: 0; float: left; clear: left; }
body#top #sidebar h3 { float: left; }
body#top #sidebar div { background-color: #bbb; float: left; padding: 6px 20px 0 6px; }
body#top #sidebar div div { float: left; background-color: #bbb; }
.no-display { display: none; }
h1 { font-size: 7em; }
.portfolioAlbum i span { position: absolute; text-indent: -90em; }
a.multi-links.external:link, 
a.multi-links.external:visited { background-color: transparent; color: blue; }
.afk-link { color: #888; display: inline; font-size: 0.9em;  }
#main-content #designs { overflow: auto; }
.redesigns { width: 4540px; margin: 0; padding: 0; overflow: auto; }
.redesigns li { display: inline; }
.redesigns li img { margin-right: 0; }
/*.pictures--css div div { border: 10px solid blue; }*/
.main-content-div { margin-bottom: 40px; border-bottom: 20px solid #424242; }
#designs.main-content-div {  border-bottom: 0;}
#sidebar.main-content-div.navigationA  { min-height: 100px; line-height: 1.3; 
border-bottom: 4px solid #87ceeb;}
.main-content-div.navigationA span { color: #ddd; z-index: 1; position: relative; } 
#thoughtworks-talk { max-height: 368px; max-width: 368px; float: left; margin: -11px 20px 10px -4px; 
border-right: 4px solid #424242; border-top: 4px solid #424242; position: relative; display: block; }
#sidebar:before { content: '...'; left: 510px; font-size: 90px;  
    color: #73FCD6; position: absolute; float: right; display: block; 
    right: 0; top: 20px; text-align: center;  
    border-bottom: 4px solid #999; margin-left:  0; height: 100px; 
     background-color: #0096FF;  }
body table.menubar.controls.widget td a.cc-link:link,
body table.menubar.controls.widget td a.cc-link: visited { color: blue; padding: 0; }
#scroll-to-bio { font-size: 0.9em; display: block; margin-top: 10px; margin-bottom: 10px; }
.redesigns { overflow-y: hidden; overflow-x: auto; height: 300px; }
.redesigns li img { position: relative;}
.redesigns li:nth-child(1) img {top: -50px; }
.redesigns li:nth-child(2) img {top: -215px; }
.redesigns li:nth-child(3) img {top: -245px; }
.redesigns li:nth-child(4) img {top: -170px; }
.redesigns li:nth-child(5) img {top: -200px; }
.redesigns li:nth-child(6) img {top: -110px; }
.redesigns li:nth-child(7) img {top: -275px; }
.redesigns li:nth-child(8) img {top: -265px; }
