div, table, tr, td { border-collapse: collapse; }
header {
  margin: 0 69px 0 0;
}
h1, h2, h3, h4, .widget {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 12px 0 2px;
}
h1 {
  font-weight: normal;
  color: rgba(40,  82,  134, 1);
  font-size: 32pt;
  padding: 6px 0 6px 24px;
  position: relative;
  visibility: visible;
  display: block;
  z-index: 1; }
h1 a { color: rgba(12, 12, 11, 1); }
p,
pre,
li {
    font-size: 16px;
    margin: 0; }
h2,
h3 {
  font-size: 16px;
  margin-bottom: 0; }
img#logo {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0; }
ol {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0 4em 2em 44px; }
div.nav ol {
  font-family: auto; }
ol li {
  margin: 0  1em 0 0; }
ol li p {
  margin: 0 0 1em; }
ol li img {
  margin-right: 10em;
  position: relative; }
ol h3 {
  margin-bottom: 0.25em;
  padding-bottom: 0; }
ol h4 {
  margin: 0;
  padding: 0; }
p {
  font-family: lucida grande, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 1em;
  margin-left: 24px; }
#topOfPageContent h2 {
  font-size: 18pt;
  padding-left: 1em;
}
div#speakingContent { 
    background-color: rgba(255, 297, 180, 1);
    color: #000;
    overflow: hidden;
    padding: 0 20px 30px 0;
}
@media (max-width: 340px) {
  div#speakingContent { 
    max-width: 244px;
  }
}
.main-content#contactContent {
  padding: 30px 20px 30px 0;
  margin-top: 0; }
.main-content#contactContent #contact-me {
  background-size: cover;
  margin: 0 60px 20px 44px;
  min-width: 420px;
  max-width: 800px;   
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: left; }
.main-content#contactContent #contact-me .electronic-mail a {
  background: rgba(33,38,46, 1);
  color: white;
  display: inline-block; }
  
.main-content#contactContent { background-color: rgba(139, 0, 0, 1); }
.main-content#contactContent a { color: rgba(255, 148, 0, 1); 
font-family: "times new roman", serif; font-style: italic; 
font-size: 16px; font-weight: normal; text-decoration: none }
#bioContent {  background-color: rgba(115, 253, 255, 1); padding: 6px 10px 0 16px;  }

#bioContent table, #bioContent tr, #bioContent td {
    border-collapse: collapse;
    border-spacing: 0;
    
}
#bioContent h2 { float: left; margin: 0; padding: 0 0 0 30px; }
#bioContent #bioText p,
#bioContent #bioText ol {  
  background-color: rgba(33, 38, 46, 1);
  color: #fff;
  color: rgba(244, 164, 96, 1);
  padding: 6px 0 10px;
 }
#bioContent #bioText p#previously { padding-left: 10px; }
#bioContent #bio td { vertical-align: top; }
#bioContent p { margin-left: 0; }
#bioContent ol { margin-bottom: 10px; }
.main-content {
  background-color: #eee;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.main-content#digitalIdentityContent { background-color: #73DAFF; }
.main-content#previousLooksContent   { background-color: rgba(0, 77, 129, 1); }
#aboutContent,
div#speakingContent,
.main-content#digitalIdentityContent,
.main-content#previousLooksContent {
    border: solid 4px rgba(139, 0, 0, 1);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.nav.top-nav {
  position: sticky;
  top: 0;
  z-index: 3;
}
.menubar.controls.widget.z-bar-1 td.about table {
  border-spacing: initial;
  display: block;
  left: -9999em;
  padding-top: 5em;
  position: absolute;
  top: 1.5em;
}
.menubar.controls.widget {
    border-collapse: collapse;
    font-family: auto;
    font-size: 15px;
    line-height: 1.25;
    margin-right: 69px;
}
@media (max-width: 340px) {
.menubar.controls.widget,
header {margin-right: 0;}
}
.menubar.controls.widget td a:focus { color: grey; }
.nav.page-bottom,
.main-content {
  margin: 0;
  padding: 21px 0 30px;
}
.nav.page-bottom {
  background-color: rgba(106, 130, 171, 1);
  margin-top: 0;
  margin-right: 69px;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;

}
@media (max-width: 340px) {
  .nav.page-bottom {
    margin-right: 0;
  }  
}
.page-bottom #externalLinksContent { 
  background-color: rgba(106, 130, 171, 1);
  padding: 0; 
  margin: 0; 
  text-align: center;
}
.page-bottom #external-links,
.page-bottom #externalLinksContent img {
}
.page-bottom #externalLinksContent img {
  float: none;
}
.menubar.controls.widget {
  background-color: rgba(255, 255, 246, 1);
  clear: both;
  display: block;
  padding: 0;
}
.menubar.controls.widget tbody,
.menubar.controls.widget.z-bar-1 td.about table {
  margin: 0;
}
.highlight.headline-text { margin: 0; padding: 0;}
.highlight.headline-text:after {
    content: ' ';
    border-radius: 10px 10px;
    background-color: red;
}
.highlight.headline-text span span { color: #222; }
.highlight.headline-text em { font-family: Verdana, Arial, Helvetica, sans-serif; color: rgba(102, 102, 102, 1);}
.highlight.headline-text a,.highlight.headline-text span { padding: 0; margin: 0;}
.menubar.controls.widget.z-bar-1 td.about table {top: 0.1em;}
.highlight.headline-text a { background-color: rgba(103, 203, 254, 1); color: rgba(66, 66, 66, 1);  }
h2 { clear: left; font-weight: bold; }
#aboutContent {
background-color: rgba(39, 88, 120, 1);
background-size: 100%;
background-position: 0 0;
display: block;
float: none;
min-height: 100px;
line-height: 1.3;
padding: 0;
position: relative;
overflow: hidden;
margin: 0;
z-index: 0;
}
@media (min-width: 340px) {
 #aboutContent {
  min-width: 230px; }
}
#aboutContent div,
#aboutContent strong,
.main-content-div.navigationA span { 
z-index: 2; 
position: relative;
}
#aboutContent strong {
    border-color: rgba(69, 129, 142, 1);
    color: #FFF;
    display: block;
    margin: 0;
    padding: 8px 8px 8px 42px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#thoughtworksTalkContent {
  border-bottom: 12px solid rgba(66, 66, 66, 1);
  border-right: 40px solid rgba(66, 66, 66, 1); 
  border-top: 6px solid rgba(66, 66, 66, 1);
  display: block;
  float: left; 
  margin: 0;
  max-width: 240px;
  position: relative;
}
body#topOfPageContent #mainContent #bioContentContent.main-content-div {
  background-color: rgba(115, 218, 255, 1);
  margin-top: 60px;
  padding-top: 60px;
}
#mainContent {
  clear: both;
  background-color: #bbb;
  margin: 0 69px 0 0;
  min-height: 620px;
  padding: 0; 
}
@media (max-width: 340px) {
  #mainContent { margin-right: 0; }
  .main-content { clear: left; }
}
.no-display { display: none; }
#aboutContent #mainContent {
  background-color: rgba(148,	163,	167, 1);
  padding-bottom: 0;
  margin-bottom: 0; }
body#topOfPageContent #mainContent #bioContent {
    background-color: rgba(124, 166, 215, 1);
}
#aboutContent img {
  border: 1px solid rgba(66, 66, 66, 1);
  border-radius: 100%;
  display: inline-block;
  float: right;
  height: 80px;
  padding: 0;
  overflow: hidden;
  position: relative;
  margin: 12px;
  text-align: left;
  width: 80px;
  visibility: visible !important;
  z-index:5;
} 
@media (min-width: 340px) {
  #aboutContent img { margin: 16px 0 0; }
}
div#speakingContent br.prefix-h2,
div#speakingContent br.suffix-h2 { content: ' '; display: inline-block; margin-left: 5px; }
div#speakingContent br.prefix-h2 {margin-top: 30px; }
div#speakingContent br.suffix-h2 {margin-bottom: 2px; }
div#speakingContent h2, div#speakingContent p { display: inline; margin: 0; padding: 0; }
div#speakingContent div.emoji-summary,
div#speakingContent div.what-summary,
div#speakingContent div.talks-summary { float: left; padding-left: 20px; max-width: 280px;}
div#speakingContent div.emoji-summary p,
div#speakingContent div.what-summary p,
div#speakingContent div.talks-summary p { max-width: 225px;  }
div#speakingContent div.emoji-summary,
div#speakingContent div.what-summary { max-width: 280px;
                                       padding-left: 18px; }
div#speakingContent div.talks-summary { margin-bottom: 42px;}                                         
#bioContent img.twitter {
  border: 0;
  border-radius: 300px;
  float: left;
  margin: 0 0 0 0;
  height: 70px;
  width: 70px; }
body#topOfPageContent #mainContent #bioContent {
    background-color: rgba(124, 166, 215, 1);
}
#bioContent h2 { text-transform: none;  text-align: right;}
#bioContent p { display: inline; margin-right: 0; line-height: 2;}
#bioContent #twitterDetailsContent {
  font-size: 75%; line-height: 1;}
#bioContent .twitter-handle {
  color: blue; }
  #bioContent strong {padding: 0; }
  #bioContent .twitter-handle a {
    text-decoration: none; }
#bioContent #twitterDetailsContent { margin: 10px 0 1em 10px; }
#mainContent #bioContent h2+p { display: inline; margin-right: 0; }
#bioContent li, #bioContent ol { display: inline; margin: 0; padding: 0; }
#bioContent .twitch, #bioContent .twitter {
  background-color: rgba(119, 195, 230, 1);
  border-top: 4px solid rgba(154, 154, 154, 1);
  padding-bottom: 30px;
  padding-top: 15px; }
  #bioContent .twitch p, #bioContent .twitter p {
    margin-bottom: 0; }
#bioContent .twitter + div {
  background-color: rgba(119, 195, 230, 1);
  border-bottom: 2px solid rgba(154, 154, 154, 1);
  padding-bottom: 20px; }
#bioContent .twitch {
  background-color: lavender; }
  #bioContent .twitch + div {
    background-color: lavender;
    border-top: 0;
    padding-bottom: 20px; }
  #bioContent .twitch .bi.bi-link-45deg {
    background-color: rgba(33, 38, 46, 1);
    color: rgba(244, 164, 96, 1);
    font-weight: bold; }
#bioContent li.user h3.name {
  display: inline;
  margin: 0;
  padding: 0; }
#bioContent li.user h4.username {
  float: left;
  margin-right: 10px; }
#bioContent li.user div.bio {
  clear: left; }  
  #bioContent li.user div.bio.bio-not-found {
    border-left: rgba(34,  34,  34, 1) 6px solid;
    color: rgba(103,  203,  254, 1);
    padding-left: 30px;
    margin-left: -30px; }
html.highlight a.external:link,
html.highlight body.social-links a:link,
html.highlight a.external:visited,
html.highlight a.external:focus,
html.highlight a.external:active,
a.external:link, a.external:visited {
  background-color: rgba(33, 38, 46, 1);
  color: rgba(244, 164, 96, 1);
  font-weight: bold; }
#digitalIdentityContent span.links {
border-bottom: 6px solid rgba(251, 0, 129, 1);
}
.pictures--css ol li { display: inline;  vertical-align: top; }
.pictures--css ol,
.pictures--css div div {
  background-color: rgba(12, 12, 11, 1);
  border: 4px solid rgba(12, 12, 11, 1);
  display: inline-block;
  height: 160px;
  line-height: 1;
  margin: 0 0 10px 24px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
  scroll-snap-type: x mandatory;
  scroll-padding: 40px;
  white-space: nowrap;
  width: 140px; }
  @media (max-width: 320px) {
    .pictures {
      max-width: 260px; } }
  @media (max-width: 480px) {
    .pictures {
      margin: 0 10px 10px 44px; } }
  .pictures--css img,
  .pictures img {
    border: 4px solid rgba(12, 12, 11, 1);
    border-top: none;
    display: inline-block;
    float: none;
    margin-left: 0;
    margin-right: 0;
    max-height: 140px;
    max-width: 140px;
    scroll-snap-align: none center;
  }
    .pictures--css div,
    .pictures-wrapper,
.pictures-wrapper-2 {
  color: rgba(217, 217, 215, 1);
  display: block;
  margin: 0 0 0 44px;
  padding: 0;
  position: relative;
  min-width: 320px; }
  .pictures--css div div:after,
  .pictures-wrapper:after,
  .pictures-wrapper-2:after {
    content: "\f42b";
    font-family: bootstrap-icons;
    margin: 4px 0 0 0;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 4; }
  @media (min-width: 480px) {
    .pictures--css ol,
    .pictures--css div div {
    height: 320px;
    width: 320px; }
     .pictures--css img,
    .pictures img {
      height: 320px;
      max-height: 320px;
      max-width: 320px;
      width: 320px;
    }}
  @media (max-width: 320px) {
    .pictures--css { max-width: 260px; }
  }
  .pictures--css div { margin: 0; }
    #mainContent #online-companies #dressipi.pictures--css div:after,
    #mainContent #online-companies #justgiving.pictures--css div:after { color: rgba(12, 12, 11, 1); }
    .pictures-wrapper-2 {
  color: rgba(12, 12, 11, 1);
}
@charset "utf-8";
@font-face {
  font-family: "bootstrap-icons";
  src: url("fonts/bootstrap-1.11.0-icons.woff") format("woff2"),
       url("fonts/bootstrap-1.11.0-icons.woff?a74547b2f0863226942ff8ded57db345") format("woff"); }
#aboutContent a span:after,
.z-bar-1 .icon,
li#github-note-01,
.about .icon,
.home a span#homeContent,
.bi a span:before,
.bi:before,
[class^="bi-"]:before,
[class*=" bi-"]:before {display: inline-block;
  font-family: bootstrap-icons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.view-icons#socialMediaChannelsCompleteContent #socialMediaChannelsToggleLink1,
.view-list#socialMediaChannelsCompleteContent #socialMediaChannelsToggleLink2 {
  text-decoration: none;
}
.view-icons #linkedContent li.bi-instagram a span:before,
.bi-twitter-x a span:before  { color: rgba(0, 0, 0, 0.7); }
.bi-facebook a span:before  { color: rgba(0, 0, 202, 0.7); }
.bi-linkedin a span:before,
.bi-github a span:before { color: rgba(255, 255, 255, 1.0); }
.bi-chess { margin-top: 20px; }

.bi-chess a span:before { color: rgba(0, 0, 0, 0.9); }

.view-list #linkedContent .bi-chess a span:before,
.bi-chess a { background-color: #333;
  overflow: hidden; 
  padding: 0 8px 8px;
  border-radius: 5px;
 } 

.view-icons #linkedContent .bi-chess a {padding: 40px 9px 5px 12px;}
 
.view-list #linkedContent li.bi-chess { margin-top: -12px;}
.view-list .bi-chess a { padding-top: 0; }

.bi-chess a span:before {
  color: rgba(163, 209, 96, 1);
} 
#digitalIdentityContent h2 { float: left; margin-top: 21px;}
.has-javascript #socialMediaChannelsToggleLinks { visibility: visible; }
#socialMediaChannelsToggleLinks { float: right; margin: 21px 10px 30px 0; visibility: hidden; }
#socialMediaChannelsToggleLinks,
#socialMediaChannelsToggleLinks a {color: #999; }
#linkedContent { clear: both; }
.view-list #linkedContent .bi.placeholder { display: none; }
.view-list .bi-chess a,
.view-list .bi-linkedin a { background-color: transparent; }

.view-list .bi-linkedin a span:before, 
.view-icons .bi-linkedin a { background-color: #055EB3; 
                overflow: hidden; 
                padding: 5px; 
                border-radius: 5px; }
.view-icons .bi-linkedin a { padding-top: 40px; padding-left: 8px;}
.bi-linkedin a span:before { color: rgba(255, 255, 255, 1); }
.view-icons #linkedContent li.bi-instagram a span:before { color: rgba(200, 200, 200, 0.6); }
html p { line-height: 1.4; margin-right: 10px; }
table span.bi-geo-alt:before,
i.bi-geo-alt:before    {content: "\f3e8"; }
i.bi-link-45deg:before {content: "\f470"; }
#socialMediaChannelsCompleteContent #linkedContent { list-style-type: none; margin: 0; padding: 0 0 0 20px; max-width: 414px }
.view-list#socialMediaChannelsCompleteContent #linkedContent
@media (max-width: 320px) {
  #socialMediaChannelsCompleteContent #linkedContent {
    margin-left: 0;
    padding-left: 20px;
  }
}
@media (max-width: 510px) {
  #linkedContent  .bi.placeholder { display: none;}
}
#linkedContent {
    max-width: 500px; }
#linkedContent .placeholder {
  background-color: #555;
  margin: 23px 23px 0 0;
  min-height: 50px;
  min-width: 50px;
  outline: dashed 1px #eee;
  position: relative;
  top: 12px;
}
#socialMediaChannelsCompleteContent.view-list #linkedContent {
  padding-top: 4px;
}
.view-list #linkedContent li {
display: block;
list-style: none;
margin-top: 16px;
margin-bottom: 12px;
padding-left: 10px;
} 
.view-list #linkedContent li span:before {
margin-right: 10px;
}
.view-list #linkedContent li a { padding-left: 0; }
.view-icons #linkedContent li { 
list-style: none; 
display: inline-block; 
margin-top: 10px; 
margin-bottom: 10px; }
#topOfPageContent { background-color: rgba(51, 51, 51, 1); }
#topOfPageContent table .home span.bi:before, 
.view-icons #linkedContent li.bi a span:before {margin-right: 4px; font-size: 48px; }
#topOfPageContent table .home span.bi-geo-alt:before { font-size: 11px; }
.view-list #linkedContent li.bi-github a span:before,
.view-icons #linkedContent li.bi-github a span:before {content: "\f3ed"; }
.view-list #linkedContent li.bi-chess a span:before,
.view-icons #linkedContent li.bi-chess a span:before {
content: "\265C";
font-size: 64px;}
.view-list #linkedContent li.bi-chess a span:before { font-size: 20px; }
.view-list #linkedContent li.bi-linkedin a span:before,
.view-list #linkedContent li.bi-chess a span:before {
margin-right: 0;
}

.view-list #linkedContent li.bi-linkedin a span:before,
.view-list #linkedContent li.bi-chess a span:before {
  position: relative;
  top: 6px;
  left: -6px;
}
.view-list #linkedContent li.bi-facebook a span:before,
.view-icons #linkedContent li.bi-facebook a span:before {content: "\f344"; }
.view-list #linkedContent li.bi-linkedin a span:before,
.view-icons #linkedContent li.bi-linkedin a span:before {content: "\f472"; }
.view-list #linkedContent li.bi-twitter-x a span:before,
.view-icons #linkedContent li.bi-twitter-x a span:before {content: "\f8db"; }
.view-list #linkedContent li.view-icons li.bi a span strong,
.view-icons #linkedContent li.bi a span strong { 
display: inline-block;  overflow: hidden; text-indent: -9999px;  }
.view-icons #linkedContent li.bi a span strong {}
div.page-bottom {
  margin: 0;
  text-align: left;
}
.menubar.controls.widget.z-bar-0 {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 0  0 10px 10px;
      border-top: 6px solid rgba(251, 0, 129, 1);
      display: inline;
      float: left;
      margin-right: 60px;
      margin-top: -5px;
      padding-bottom: 20px;
      padding-right: 40px;
      position: relative;
      z-index: 2;
}
.menubar.controls.widget.z-bar-0 td.about a {
  margin-bottom: 1em;
  display: block;
  margin: 0 0 0.5em 1.5em;
}
.menubar.controls.widget.z-bar-0 td {
        display: block;
        padding: 0;
        text-align: left; }
.menubar.controls.widget.z-bar-0, 
.page-bottom #powerStyleContent {
  clear: none;
}
.menubar.controls.widget.z-bar-0,
.copyright {
  padding-top: 20px;
}
.page-bottom .normal.back-link {
    display: none;
}
div.page-bottom p {
  display: inline-block;
  margin: 0.25em 0 0.25em;
}
#powerStyleContent:after {
  background: rgba(106, 130, 171, 1) url(footer-glistening-so-V-brightly/liquid-drop-into--light.jpg) no-repeat;
  background-position: right -1px;
  background-repeat: no-repeat;
  bottom: -168px;
  content: ' ';
  display: block;
  height: 168px;
  left: 0px;
  margin: 0;
  position: absolute;
  right: -70px;
  z-index: 1;
}
.menubar.controls.widget table { border: 0; }
.page-bottom #powerStyleContent {
  color: rgba(33,38,46, 1);
  min-height: 110px;
  padding: 0;
  position: relative;
  }
.page-bottom #powerStyleContent .copyright {
  background-color: rgba(106, 130, 171, 1);
  font-size: smaller;
  line-height: 1.6;
  margin-right: 60px;
  max-width: 690px;
  position: relative;
  z-index: 1;
}
.page-bottom img {
  float: right; 
  margin: 10px;
  position: relative;
  z-index: 2;
}
.page-bottom .css-validation {
  list-style-type: none;
}
.menubar.controls.widget td a {}
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
.highlight.headline-text,
#aboutContent strong span,
#speakingContent h2,
#contactContent h2 strong,
#bioContent h2 strong,
#digitalIdentityContent h2 strong,
#previousLooksContent  h2 strong {  
font-family: 'Arizonia', 'Comic Sans', cursive, fantasy;  
  font-size: 28px; font-weight: 300; }
.main-content#bioContent #bio td {vertical-align: middle;}
.menubar.controls.widget .home,
.menubar.controls.widget .about.browsing { 
  padding: 8px 24px;
}
.menubar.controls.widget td a { color: rgba(19, 95, 30, 1); font-size: 20px; }
.page-bottom .menubar.controls.widget td a { font-size: 16px; }
