html {
  border-top: 30px solid crimson; /* CRiMiSoN is for battle-net */
  padding-top: 40px;
  line-height: 140%; }

.if-colorblindness {
  color: #257748; }

body {
  color: #222;
  font-family: helvetica, arial, sans-serif;
  max-width: 90%;
  margin: 0 5%;
  padding: 1px 2em 1em; }

p {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.9em; }

a {
  color: #32479D; }

.hidden {
  display: none; }

h2[title] {
  text-decoration: underline; }

h1,
h2 {
  font-family: helvetica, arial, sans-serif;
  font-size: 3em;
  line-height: 100%;
  margin-bottom: 0; }
  h1 span,
  h2 span {
    color: #5583E3; }

h1 {margin-top: 0; }
h1 em { font-style: normal;  }

h3 {
  margin-top: 0; }
  h3 strong {
    color: #5583E3; }

ul,
p {
  max-width: 700px;
  margin-top: 5px; }

ul {
  float: left;
  margin: 0 0 0 50px;
  list-style: none;
  padding: 5px 5px 10px;
}

ul li {
  list-style: none;
  margin: 0 ;
  margin-right: 10px;
  display: inline-block;}

ul li p { margin: 0 0 1em; }
ul li img { position: relative; top: 6px; margin-right: 15px;  }

#find-links {
  float: left; margin: 28px 0 0;
}

ul h3 {
  margin-bottom: 5px;
  padding-bottom: 0; }

.full-name span.zn-CN {
  display: none; }
.full-name:hover span[lang|="en"] {
  display: none; }
.full-name:hover span.zn-CN {
  display: inline-block; }
.full-name:hover .com { visibility: hidden;  }


@media screen and (max-device-width: 480px) {
  html { line-height: 350%; }
  body { font-size: 200%; }
  body li img { height: 75px; margin-right: 35px; top: 25px; width: 75px; }
}
